{{define "admin"}}
{{template "header" .}}
<div class="content">
	<div class="container">
		<div class="col-md-12 mb-4">
			<div class="row justify-content-between">
				<div class="col-8">
					<h2>URL overview</h2>
				</div>
				<div class="col-1">
					<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#urlModal">Add</button>
				</div>
			</div>
			<table class="table">
				<thead>
					<th scope="col">ID</th>
					<th scope="col">Address</th>
					<th scope="col">Target</th>
					<th scope="col">Comment</th>
					<th scope="col">Actions</th>
				</thead>
				<tbody>
				{{range .rows}}
					<tr>
						<th scope="row">{{.Id}}</th>
						<td>{{.Subdomain}}{{if .Path}}/{{.Path}}{{end}}</td>
						<td>{{.Target}}</td>
						<td>{{.Comment}}</td>
						<td>
<button type="button" class="btn btn-sm btn-outline-warning bi bi-pencil" data-bs-toggle="modal" data-bs-target="#urlModal" data-bs-edit-with='{{ . | struct2json }}'></button>
							<button type="button" class="btn btn-sm btn-outline-danger bi bi-trash"></button>
						</td>
					</tr>
				{{end}}
				</tbody>
			</table>

			{{template "url-edit-modal" .}}
		</div>
	</div>
{{template "footer" .}}
{{end}}
