{{define "admin"}}
{{template "header" .}}
<div class="content">

	<div class="container">
		<div class="col-md-12 mb-4">
			<h2>RWTH Link Shortener - Admin</h2>
			<div>You're admin</div>
		</div>
	</div>
{{template "footer" .}}
{{end}}
